/*geral */

*{
     margin: 0;
     padding: 20 px;
     box-sizing: border-box;
     font-family: Helvetica;
     color: #323232;
     border: none;
 }
 
 body{
     
     background-size: cover;
     background: -2  ;
 }
 